/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page {
  
  display: flex;
  justify-content: center;
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 1024px 768px;
  
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header {
 display: flex;
 justify-content: center; 
 flex-direction: column;
 max-width: 1024px;
}

.header__theme-menu {
  color: var(--accent-color);
  font-family: var(--accent-font, "IBM Plex mono");
  font-size: var(--accent-size);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 400px;
}
.header__theme-menu-list {
  display: flex;
  gap: 23px;
  
}
.header__theme-menu-button {
background-color: transparent;
border: 1px solid transparent;
margin-top: 20px;
cursor: pointer;
}
.header__theme-menu-button_type_dark {
  border: 1px solid;
  padding: 1.5px 13px;
  text-align: center; 
}
.decoration {
  color: var(--accent-color);
  display: flex;
  text-transform: uppercase;
  font-family: var(--accent-font, "IBM Plex mono");
  position: relative;
  margin-top: 20px;
  justify-content: right;
  
}
.decoration-nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row-reverse;
  padding-right: 40px;
  
}
.decoration__point {
  
  content: ''; 
  position: absolute; 
  top: 55%; 
  right: -17px; 
  width: 9px; 
  height: 9px; 
  background-color: var(--accent-color); 
  border-radius: 50%; 
  box-shadow: 0px 0px 4px 2px var(--accent-color); 
  transform: translateY(-50%);
}
.decoration::before  {
  content: ''; 
  position: absolute; 
  top: 0px ; 
  right: -26px; 
  width: 1px; 
  height: calc(100% + 5px); 
  background-color: var(--accent-color); 
}
.decoration::after {
  content: ''; 
  position: absolute; 
  top: -13px ; 
  right: -14px; 
  width: 1px; 
  height: calc(100% + 5px); 
  transform: rotate(90deg);
  background-color: var(--accent-color); 
}
.header__title {
  color: #DB00FF;
  font-size: 157px;
  font-family: var(--accent-font, 'IBM Plex mono');
  box-shadow: var(--accent-color);
  line-height: 129.53px;
  text-shadow: 4px 4px var(--accent-color);
  display: flex;
  padding-top: 270px;
  padding-right: 270px;
}
.header__text-title {
  font-family: var(--accent-font, 'IBM Plex mono');
  font-size: var(--accent-size);
  width: 491px;
  height: 71px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: #000028;
  margin-top: 115px;
  margin-left: 513px;
}
.decoration__point-bottom {
  
  display: flex;
  width:25px;
  height: 25px;
  margin-top: 90px;
  margin-left: 20px;
  position: relative;
}
.decoration__point-bottom::before,
.decoration__point-bottom::after {
  content: ''; 
  position: absolute;
  background-color: var(--accent-color);
}
.decoration__point-bottom::before {
  width: 1px; 
  height: 100%; 
  left: 0%; 
  transform: translateX(-50%);
}
.decoration__point-bottom::after {
  width: 100%; 
  height: 1px;
  bottom: 0;
}